{% extends 'layout.twig' %}
{% block content %}
<section>
	<header class="major">
		<h2>Inloggen</h2>
	</header>
	{% include 'partials/errors.twig'%}
	<form method="post" action="{{action}}">
		<div class="row uniform 50%">
			<div class="6u 12u$(xsmall)">
				<input type="text" name="username" id="username" value="" placeholder="Gebruikersnaam" />
			</div>
			<div class="6u$ 12u$(xsmall)">

			</div>
			<div class="6u$ 12u$(xsmall)">
				<input type="password" name="password" id="password" value="" placeholder="Paswoord" />
			</div>
			<div class="12u$">
				<ul class="actions">
					<li>
						<input type="hidden" name="moduleAction" value="login" />
						<input type="submit" value="Inloggen" class="special small" />
					</li>
				</ul>
			</div>
		</div>
	</form>
</section>
{% endblock %}