<!DOCTYPE HTML>
<!--
	Strata by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>{{ pageTitle }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
		{% block css %}

		{% endblock %}
	</head>
	<body id="top">

		<!-- Header -->
			<header id="header">
				<a href="index.php" class="image avatar"><img src="files/images/avatar.jpg" alt="" /></a>
				<h1><strong>Shoppen in Kruibeke, Bazel en Rupelmonde</strong></h1>
				<h3>Verrassend veelzijdig</h3>
			</header>

			{% block pageContent %}

			{% endblock %}

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="https://www.facebook.com/uitinkruibeke" class="icon fa-facebook-square"><span class="label">Facebook</span></a></li>
					<li><a href="http://www.ikdoeict.be/" class="icon fa-globe"><span class="label">Website</span></a></li>
					<li><a href="mailto:joris.maervoet@odisee.be" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; <a href="http://www.ikdoeict.be/" title="IkDoeICT.be">IkDoeICT.be</a> &Tilde; J. Maervoet </li>
					<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					{% if user %}
						<li><a href="logout.php">Uitloggen ({{ user }}, {{ time }})</a></li>
					{% else %}
						<li><a href="login.php">Inloggen</a></li>
					{% endif %}
				</ul>
			</footer>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.poptrox.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/util.js"></script>
			<!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
			<script src="js/main.js"></script>
			{% block js %}

			{% endblock %}
	</body>
</html>